---
network:
  version: 2
  renderer: networkd
  ethernets:
    {% if internal_ip -%}
    {{ internal_iface }}:
      addresses:
      - {{ internal_ip -}}
    {% endif -%}
    {% if not is_gateway %}

      gateway4: {{ gateway_address }}
      nameservers:
        addresses:
        - 8.8.8.8
    {% endif %}
    {% if dhcp_server %}

    {{ dhcp_iface }}:
      addresses:
      - {{ gateway_ip }}
    {% endif %}
